@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbtron {
        background-image: url(https://image.shutterstock.com/image-vector/idea-on-light-bulbeducation-concept-260nw-671042695.jpg);
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-size:cover;
    }
</style>

<div class="jumbotron">
    <img src="https://image.shutterstock.com/image-vector/idea-on-light-bulbeducation-concept-260nw-671042695.jpg"class="img-fluid" alt="Alternate Text" />
    
</div>



<!--TODO سكشن خاص بالمدرسين -->



<section>

</section>





<!--TODO سكشن خاص المحاضرات -->


<section>
</section>










<!--TODO عرض ممسزات الموقع -->







<section>
</section>









<!--TODO carousel عرض طريقه الوصول الي النظام -->



<section>
</section>












<!--TODO عرض عدد المدرسين والطلاب -->


<section>
</section>









