
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>تسجيل الدخول</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />

</head>
<body>

       
    <div id="dvcontainer">

        <div class="loginbox">
            <img src="~/download (2).png" class="avatar" />
            <h1>تسجيل الدخول</h1>
            <form>
                <p>إسم المسنخدم</p>
                <input type="text" name="" placeholder="أدخل إسم المسنخدم">
                <p>كلمة السر</p>
                <input type="password" name="" placeholder="أدخل كلمة السر">
                <input type="submit" name="" value="سجل"><br />
                <a href="#">نسيت كلمة السر؟</a><br />

                <a href="#">ليس لديك حساب؟</a>
            </form>
        </div>
    </div>
</body>
</html>
