@*<!DOCTYPE HTML>
    <html>
    <head>
        <script>
    window.onload = function () {

    var totalVisitors = 883000;
    var visitorsData = {
        "New vs Returning Visitors": [{
            click: visitorsChartDrilldownHandler,
            cursor: "pointer",
            explodeOnClick: false,
            innerRadius: "75%",
            legendMarkerType: "square",
            name: "New vs Returning Visitors",
            radius: "100%",
            showInLegend: true,
            startAngle: 90,
            type: "doughnut",
            dataPoints: [
                { y: 519960, name: "New Visitors", color: "#E7823A" },
                { y: 363040, name: "Returning Visitors", color: "#546BC1" }
            ]
        }],
        "New Visitors": [{
            color: "#E7823A",
            name: "New Visitors",
            type: "column",
            xValueFormatString: "MMM YYYY",
            dataPoints: [
                { x: new Date("1 Jan 2015"), y: 33000 },
                { x: new Date("1 Feb 2015"), y: 35960 },
                { x: new Date("1 Mar 2015"), y: 42160 },
                { x: new Date("1 Apr 2015"), y: 42240 },
                { x: new Date("1 May 2015"), y: 43200 },
                { x: new Date("1 Jun 2015"), y: 40600 },
                { x: new Date("1 Jul 2015"), y: 42560 },
                { x: new Date("1 Aug 2015"), y: 44280 },
                { x: new Date("1 Sep 2015"), y: 44800 },
                { x: new Date("1 Oct 2015"), y: 48720 },
                { x: new Date("1 Nov 2015"), y: 50840 },
                { x: new Date("1 Dec 2015"), y: 51600 }
            ]
        }],
        "Returning Visitors": [{
            color: "#546BC1",
            name: "Returning Visitors",
            type: "column",
            xValueFormatString: "MMM YYYY",
            dataPoints: [
                { x: new Date("1 Jan 2015"), y: 22000 },
                { x: new Date("1 Feb 2015"), y: 26040 },
                { x: new Date("1 Mar 2015"), y: 25840 },
                { x: new Date("1 Apr 2015"), y: 23760 },
                { x: new Date("1 May 2015"), y: 28800 },
                { x: new Date("1 Jun 2015"), y: 29400 },
                { x: new Date("1 Jul 2015"), y: 33440 },
                { x: new Date("1 Aug 2015"), y: 37720 },
                { x: new Date("1 Sep 2015"), y: 35200 },
                { x: new Date("1 Oct 2015"), y: 35280 },
                { x: new Date("1 Nov 2015"), y: 31160 },
                { x: new Date("1 Dec 2015"), y: 34400 }
            ]
        }]
    };

    var newVSReturningVisitorsOptions = {
        animationEnabled: true,
        theme: "light2",
        title: {
            text: "عدد المسجلين بالموقع"
        },
        subtitles: [{
            text: "اضغط علي القسم ",
            backgroundColor: "#2eacd1",
            fontSize: 16,
            fontColor: "white",
            padding: 5
        }],
        legend: {
            fontFamily: "calibri",
            fontSize: 14,
            itemTextFormatter: function (e) {
                return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / totalVisitors * 100) + "%";
            }
        },
        data: []
    };

    var visitorsDrilldownedChartOptions = {
        animationEnabled: true,
        theme: "light2",
        axisX: {
            labelFontColor: "#717171",
            lineColor: "#a2a2a2",
            tickColor: "#a2a2a2"
        },
        axisY: {
            gridThickness: 0,
            includeZero: false,
            labelFontColor: "#717171",
            lineColor: "#a2a2a2",
            tickColor: "#a2a2a2",
            lineThickness: 1
        },
        data: []
    };

    newVSReturningVisitorsOptions.data = visitorsData["New vs Returning Visitors"];
    $("#chartContainer").CanvasJSChart(newVSReturningVisitorsOptions);

    function visitorsChartDrilldownHandler(e) {
        e.chart.options = visitorsDrilldownedChartOptions;
        e.chart.options.data = visitorsData[e.dataPoint.name];
        e.chart.options.title = { text: e.dataPoint.name }
        e.chart.render();
        $("#backButton").toggleClass("invisible");
    }

    $("#backButton").click(function() {
        $(this).toggleClass("invisible");
        newVSReturningVisitorsOptions.data = visitorsData["New vs Returning Visitors"];
        $("#chartContainer").CanvasJSChart(newVSReturningVisitorsOptions);
    });

    }
        </script>
        <style>
            #backButton {
                border-radius: 4px;
                padding: 8px;
                border: none;
                font-size: 16px;
                background-color: #2eacd1;
                color: white;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }

            .invisible {
                display: none;
            }
        </style>
    </head>
    <body>

        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <button class="btn invisible" id="backButton">< Back</button>
        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    </body>
    </html>*@
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-horizontal  S1A">
                    <a href="" class="btn btn-primary">انشئ ملفك المرضي الخاص</a>
                    <a href="" class="btn btn-primary mt-2">تعرف علي خدماتك المرضيه </a>
                    <a href="" class="btn btn-primary mt-2"> تصفح العيادات والدكاتره </a>
                    <a href="" class="btn btn-primary mt-2"> قم باجراء الفحوصات اللازمه </a>
                    <a href="" class="btn btn-primary mt-2"> اصرف ادويتك بدون بامان  </a>
                </div>
            </div>
            <div class="col-md-8 text-right">
                <h4>الخدمات</h4>
                <p>
                    نقدم اليك انواع عديده من الخدمات الطبيه
                    مثل الكشف والتحليل وعمل الاشعه و الحول علي الادويه من اي مكان في مصر
                    وسجل طبي خاص بك - جميع الخدمات لينا الكترونيه لضمان جوده الخدمات الطبيه وتوفير اسهل الطرق واوفرها في الحصور علي الخدمات الطبيه بدون اوارق مكتوبه
                    يمكنك صرف الادويه من الصيدليات الخاصه بنا واجراء التحاليل والاشعه في معامل التحاليا الخاصه بنا و يمكنك ايضا اجؤا الفحوصات والكشوفات في اي مكان وفي اي عياده ومستشفي و
                    يمكنك التوجيه الي اي مكان للخضوع الي اي اجراء طبي مع ملفك الطبي الخاص بك لدين
                    نصمن لك كل الصحه و العافيه
                </p>
            </div>
        </div>
    </div>
</section>
